.Tabbar-all{
    display: flex;
    justify-content:space-around;
    height: 28px;
}
.Tabbar-1{
    font-size: 20px;
    display: block
}
.Tabbar-2{
    font-size: 20px;
}
.Tabbar-3{
    font-size: 20px;
}
a{
    text-decoration: none;
}
